### Frequent Itemset mining technique for Basket Analysis
#### See https://www.edureka.co/blog/apriori-algorithm/
#### The POS_data file origin is unknown, if you find it let me know

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('seaborn-whitegrid')
import numpy as np
import pandas as pd

In [2]:
file = 'POS_data.csv'
df = pd.read_csv(file, header=0)

In [3]:
df

             Date      Time  Transaction           Item
0      10/30/2016   9:58:11            1          Bread
1      10/30/2016  10:05:34            2   Scandinavian
2      10/30/2016  10:05:34            2   Scandinavian
3      10/30/2016  10:07:57            3  Hot chocolate
4      10/30/2016  10:07:57            3            Jam
...           ...       ...          ...            ...
21288    4/9/2017  14:32:58         9682         Coffee
21289    4/9/2017  14:32:58         9682            Tea
21290    4/9/2017  14:57:06         9683         Coffee
21291    4/9/2017  14:57:06         9683         Pastry
21292    4/9/2017  15:04:24         9684      Smoothies

[21293 rows x 4 columns]

In [14]:
num_products = df.Item.nunique()
print('There are', num_products, 'unique products')

There are 95 unique products

In [12]:
# delete duplicates in dataframe

95

In [ ]:
# Select 10 Top Sales and Analyze its patterns

In [ ]:
# Analyze shop hours frequencies

In [15]:
# Analyze top sellers frequencies

In [16]:
# Create table for frequency analysis
df.columns

Index(['Date', 'Time', 'Transaction', 'Item'], dtype='object')

In [23]:
r =  df.groupby(['Date','Time','Transaction']).agg(lambda m: list(m)).reset_index()
r

,Date,Time,Transaction,Item
0,1/1/2017,1:21:05,4090,[Bread]
1,1/10/2017,10:04:39,4454,[Coffee]
2,1/10/2017,10:17:08,4455,[Bread]
3,1/10/2017,10:52:29,4456,"[Hot chocolate, Pastry, Bread]"
4,1/10/2017,10:58:34,4457,"[Coffee, Cake]"
...,...,...,...,...
9526,4/9/2017,14:30:09,9681,"[Truffles, Tea, Spanish Brunch, Christmas common]"
9527,4/9/2017,14:32:58,9682,"[Muffin, Tacos/Fajita, Coffee, Tea]"
9528,4/9/2017,14:57:06,9683,"[Coffee, Pastry]"
9529,4/9/2017,15:04:24,9684,[Smoothies]
9530,4/9/2017,9:29:57,9649,"[Hot chocolate, Coffee, Cake, Medialuna]"

In [47]:
Items_expanded_v1 = r["Item"].apply(pd.Series)
Items_expanded_v1

,0,1,2,3,4,5,6,7,8,9,10,11
0,Bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hot chocolate,Pastry,Bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Coffee,Cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9526,Truffles,Tea,Spanish Brunch,Christmas common,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9527,Muffin,Tacos/Fajita,Coffee,Tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9528,Coffee,Pastry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9529,Smoothies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9530,Hot chocolate,Coffee,Cake,Medialuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
Items_expanded_v2 = pd.DataFrame(r.Item.values.tolist()).add_prefix('item_')
Items_expanded_v2

,item_0,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11
0,Bread,None,None,None,None,None,None,None,None,None,None,None
1,Coffee,None,None,None,None,None,None,None,None,None,None,None
2,Bread,None,None,None,None,None,None,None,None,None,None,None
3,Hot chocolate,Pastry,Bread,None,None,None,None,None,None,None,None,None
4,Coffee,Cake,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
9526,Truffles,Tea,Spanish Brunch,Christmas common,None,None,None,None,None,None,None,None
9527,Muffin,Tacos/Fajita,Coffee,Tea,None,None,None,None,None,None,None,None
9528,Coffee,Pastry,None,None,None,None,None,None,None,None,None,None
9529,Smoothies,None,None,None,None,None,None,None,None,None,None,None
9530,Hot chocolate,Coffee,Cake,Medialuna,None,None,None,None,None,None,None,None