### Simple POS Data Analysis

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('seaborn-whitegrid')
import numpy as np
import pandas as pd

In [2]:
file = 'POS_data.csv'
df = pd.read_csv(file, header=0)

In [3]:
df

             Date      Time  Transaction           Item
0      10/30/2016   9:58:11            1          Bread
1      10/30/2016  10:05:34            2   Scandinavian
2      10/30/2016  10:05:34            2   Scandinavian
3      10/30/2016  10:07:57            3  Hot chocolate
4      10/30/2016  10:07:57            3            Jam
...           ...       ...          ...            ...
21288    4/9/2017  14:32:58         9682         Coffee
21289    4/9/2017  14:32:58         9682            Tea
21290    4/9/2017  14:57:06         9683         Coffee
21291    4/9/2017  14:57:06         9683         Pastry
21292    4/9/2017  15:04:24         9684      Smoothies

[21293 rows x 4 columns]