### Extracts sample data from files in Kaggle Recommendation challenge

Initial file has 2M rows.

In [1]:
import pandas as pd
file = '2019-Oct.csv'
df = pd.read_csv(file)

In [2]:
df=df.dropna()
df1 = df[df['category_code'].str.contains("computer")]

In [3]:
df1['category_code']

3                      computers.notebook
5                       computers.desktop
18                     computers.notebook
22                      computers.desktop
50          computers.peripherals.monitor
                        ...
42448688               computers.notebook
42448703               computers.notebook
42448729               computers.notebook
42448731               computers.notebook
42448748                computers.desktop
Name: category_code, Length: 2254076, dtype: object

In [4]:
df1.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [5]:
#df1['aaa'] = pd.to_datetime(df1['event_time'], infer_datetime_format=True)
df1 = df1.assign(event_time_dt=pd.to_datetime(df1['event_time'], infer_datetime_format=True))

In [6]:
df1.dtypes

event_time                    object
event_type                    object
product_id                     int64
category_id                    int64
category_code                 object
brand                         object
price                        float64
user_id                        int64
user_session                  object
event_time_dt    datetime64[ns, UTC]
dtype: object

In [7]:
#df1 = df1.assign(e=pd.to_datetime(df1['event_time'], infer_datetime_format=True))

In [8]:
start_date = '01-Oct-2019'
end_date = '12-Oct-2019'
# Convert start / end dates to datetime
#start_date = pd.to_datetime(start_date)
#end_date = pd.to_datetime(end_date)
df2 = df1[df1['event_time_dt'].between(start_date, end_date)]

In [9]:
df2.to_csv("file_sales.csv", index=False)